.suggestion-box
{
    height: 200px;
    width: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.card-text
{
    font-size: 1.1rem;
    color: rgb(96, 99, 96);
    font-weight: 600;
}
.card-icon
{
    text-align: end;
    width: 100%;
    
}
.card-icon img
{
    height: 35px;
    pointer-events: none;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    
}